@* <form asp-controller="Register" asp-action="page6">
    <label asp-for="firstname"> First Name : </label>
    <input asp-for="firstname" type="text" />

    <label asp-for="lastname"> Last Name : </label>
    <input asp-for="lastname" type="text" />

    <label asp-for="gender"> Gender :</label>
    <input asp-for="gender" type="text" />

    <label asp-for="dob"> Date of Birth : </label>
    <input asp-for="dob" type="text" />
</form> *@