<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <style>
        #bg {
            height: 1400px;
            width: 1250px;
            background-image: url(/websitematerial/co.jpg);
            background-repeat: no-repeat;
            margin-top: -50px;
        }

        .im-1 {
            display: inline-flex;
            margin-left: 220px;
            margin-top: 10px;
            height: 40px;
            width: 40px;
        }

        .li {
            margin-left: 100px;
        }

        .register {
            height: 30px;
            width: 100px;
            background-color: orangered;
            border: 0.3pt solid white;
        }


        .sec-1 {
            display: flex;
            height: 570px;
            width: 1000px;
            margin-left: 120px;
            margin-top: -100px;
            background-color: lightgray;
        }

        .p2 {
            height: 460px;
            width: 450px;
            margin-top: 49px;
            margin-left: 35px;
        }

        .div-2 {
            margin: 50px;
        }

        .h1 {
            font-size: 34px;
            font-family: Arial;
            color: darkblue;
        }

        .p1 {
            font-size: 18px;
        }

        .p3 {
            font-size: 25px;
            font-weight: 800;
            font-family: arial;
            color: darkgreen;
        }

        input {
            height: 30px;
            width: 350px;
        }

        .call:hover {
            background-color: lightgreen !important;
            color: black !important;
        }

        .sec-2 {
        }

        .i15 {
            height: 150px;
            margin-left: 400px;
            margin-top: 50px;
        }

        .p4 {
            margin-left: 500px;
            color: white;
            font-family: arial;
        }

        .sec-3 {
            margin-left: 130px;
        }

        .inp-1 {
            height: 55px;
            width: 1000px;
        }

        .inp-2 {
            background-color: blueviolet;
            border: 0.1pt solid blueviolet;
            border-radius: 5px;
            color: white;
            font-family: arial;
            font-size: larger;
        }

        .inp-3 {
            background-color: rgba(35, 150, 188, 0.829);
            border: 0.1pt solid rgba(35, 150, 188, 0.829);
            border-radius: 5px;
            color: white;
            font-family: arial;
            font-size: larger;
        }

        .inp-4 {
            background-color: green;
            border: 0.1pt solid green;
            border-radius: 5px;
            color: white;
            font-family: arial;
            font-size: larger;
        }

        .sec-4 {
            display: flex;
            margin-left: 135px;
            margin-right: 135px;
            margin-top: 70px;
        }

        .a1 {
            font-family: arial;
            text-decoration: none;
            width: 300px;
            justify-content: space-evenly;
            padding: 5px;
        }

        .i6789 {
            height: 60px;
            margin-left: 70px;
            margin-bottom: -19px;
        }

        .a1:hover {
            margin-top: -10px;
            border-bottom: 2px solid green;
        }

        .p9 {
            font-size: 35px;
            font-weight: bolder;
            text-align: center;
            color: darkblue;
            margin-bottom: 1px;
        }

        .p10 {
            font-size: 18px;
            text-align: justify;
            color: rgb(98, 94, 94);
        }

        .sec-5 {
            background-image: url(/websitematerial/blue.jpg);
            height: 800px;
            width: 1250px;
            margin-top: 200px;
            display: flex;
        }

        .d1 {
            position: relative;
            top: 50px;
            left: 100px;
        }

        .d2 {
            position: relative;
            top: px;
            left: 200px;
        }

        .d3 {
            position: relative;
            top: 50px;
            left: 300px;
        }

        .p11 {
            font-size: 45px;
            color: rgb(29, 187, 240);
            font-family: Arial;
            text-align: center;
            font-weight: 900;
        }

        .p12 {
            font-size: larger;
            font-weight: 700;
            color: white;
            font-family: Arial;
            text-align: center;
            margin-top: -50px;
        }

        .i20 {
            margin-top: 270px;
            margin-left: -600px;
        }

        .p13 {
            margin-left: -500px;
            margin-top: -3px;
            color: rgb(198, 175, 223);
            font-family: arial;
            font-size: 15px;
        }

        .i21 {
            height: 100px;
            margin-left: -500px;
            margin-top: 20px;
        }

        .p14 {
            margin-left: -450px;
            color: rgb(198, 175, 223);
            font-family: arial;
            font-size: 15px;
        }

        .p15 {
            margin-left: -500px;
            color: rgb(198, 175, 223);
        }

        .a1 {
            color: white;
        }

        .pg1-1 {
            color: rgb(204, 176, 17);
            font-size: 50px;
            font-weight: 900;
            padding-top: 300px;
            text-align: center;
            font-family: arial;
        }

        .pg1-2 {
            color: white;
            font-family: arial;
            text-align: center;
            font-size: 20px;
            margin-top: -50px;
        }

        .pg1-im1 {
            height: 250px;
            margin-left: 250px;
        }

        .pg1-im2 {
            height: 110px;
            margin-left: 450px;
        }
    </style>
</head>
<body>
    <div id="bg">
        <section>
            <p class="pg1-1">Our Training Programs</p>
            <p class="pg1-2">All Trainers are working professionals, Software Engineers, Networking Engineers, and Software Test Engineers of <br> Suffix E Solutions</p>
            <img class="pg1-im1" src="/websitematerial/pg1-im1.jpg" alt=""><br>
            <img class="pg1-im2" src="/websitematerial/i15.png" alt="">
            <p class="p4">Google 4.9 * Rated Institute</p>
        </section>
    </div>
    <div>
        <section class="sec-1">
            <img class="p2" src="/websitematerial/p2.jpg" alt="">
            <div class="div-2">
                <h1 class="h1">
                    SCOPE INDIA <br>
                    is open 365 days a year
                </h1><br>
                <p class="p1">We are open 7 days 24 hrs to talk to you and listen to <br> your queries. </p><br>
                <h2 class="p3">GET A FREE CALL BACK</h2>
                <form action="">
                    <input type="text" placeholder="Enter your name"><br><br>
                    <input type="password" placeholder="Enter your phone no."><br><br>
                    <input class="call" formaction="plane.html" type="submit" value="Call Me" style="background-color: green;color: white;">
                </form>
            </div>
        </section>
        <section class="sec-5">
            <div class="d1">
                <p class="p11">1000+</p>
                <p class="p12">S&nbsp;T&nbsp;U&nbsp;D&nbsp;E&nbsp;N&nbsp;T&nbsp;S&nbsp; A&nbsp;R&nbsp;E&nbsp; <br> T&nbsp;R&nbsp;A&nbsp;I&nbsp;N&nbsp;E&nbsp;D&nbsp; E&nbsp;V&nbsp;E&nbsp;R&nbsp;Y&nbsp; Y&nbsp;E&nbsp;A&nbsp;R</p>
            </div>
            <div class="d2">
                <p class="p11">30+</p>
                <p class="p12">C&nbsp;O&nbsp;M&nbsp;P&nbsp;U&nbsp;T&nbsp;E&nbsp;R&nbsp; C&nbsp;O&nbsp;U&nbsp;R&nbsp;S&nbsp;E&nbsp;S</p>
            </div>
            <div class="d3">
                <p class="p11">95%</p>
                <p class="p12">S&nbsp;T&nbsp;U&nbsp;D&nbsp;E&nbsp;N&nbsp;T&nbsp;S&nbsp; A&nbsp;R&nbsp;E&nbsp; G&nbsp;E&nbsp;T&nbsp;T&nbsp;I&nbsp;N&nbsp;G <br> P&nbsp;L&nbsp;A&nbsp;C&nbsp;E&nbsp;D&nbsp; E&nbsp;V&nbsp;E&nbsp;R&nbsp;Y&nbsp; Y&nbsp;E&nbsp;A&nbsp;R</p>
            </div>
            <div>
                <img class="i20" src="/websitematerial/i20.png" alt="no">
                <p class="p13">Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu</p>
                <img class="i21" src="/websitematerial/i21.png" alt="">
                <p class="p14">An ISO 9001:2015 Certified Company</p>
                <p class="p15">All Rights Reserved <a href="plane.html" class="a1"> Suffix E Solutions</a>© 2007-2024</p>
            </div>
        </section>
    </div>
</body>
</html>